<app-page-info pageInfo="Our Brochures"
    pageDescription="Download brochures and get full details on our various design from railing systems to windows and doors"></app-page-info>
<div class="container">
    <app-corinzo-brochures imgPath="assets/brochures_windows.png" title="CORINZO WINDOWS"
        description="Check out in details of the windows we make and provide as a service."></app-corinzo-brochures>
    <app-corinzo-brochures imgPath="assets/brochures_doors.png" title="CORINZO DOORS"
        description="Check out in details of the doors we make and provide as a service."></app-corinzo-brochures>
    <app-corinzo-brochures imgPath="assets/brochures_railings.png" title="CORINZO RAILINGS"
        description="Check out in details of the railings we make and provide as a service."></app-corinzo-brochures>
    <app-corinzo-brochures imgPath="assets/brochures_upvc_profiles.png" title="UPVC PROFILES"
        description="Check out our UPVC profiles."></app-corinzo-brochures>
</div>