<app-page-info pageInfo="Glass Railing System"
    pageDescription="Explore the best combination of modernity & simplicity that comes with our railing systems" />
<div class="container">
    <app-corinzo-railings imgPath="assets/railings_orchid.png" title="CZ -01 ORCHID"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Bracketed with Cover','Floor Mounted','Glass Height up to 1000mm','Bracket Size: 70mm to 140mm']"
        [glasses]="['10mm - 14mm Thick Glass (For Other Glasses please revert)']"
        [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']"> </app-corinzo-railings>
    <app-corinzo-railings imgPath="assets/railings_senzo.png" title="CZ -02 SENZO"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Bracketed with Cover','Floor Mounted','Glass Height up to 900mm','Bracket Size: 70mm to 140mm']"
        [glasses]="['10mm - 12mm Thick Glass']" [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_primo.png" title="CZ -03 PRIMO"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Bracketed with Cover','Floor Mounted','Glass Height up to 1150mm','Bracket Size: 70mm to 140mm']"
        [glasses]="['12mm - 17mm Thick Glass']" [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_robusta.png" title="CZ -04 ROBUSTA"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Bracketed with Cover','Floor Mounted','Glass Height up to 1100mm','Bracket Size: 70mm to 140mm']"
        [glasses]="['12mm - 17mm Thick Glass']" [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_dapper.png" title="CZ -05 DAPPER"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 950mm']"
        [glasses]="['8mm - 14mm Thick Glass']" [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_squad.png" title="CZ -06 SQUAD"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 900mm']"
        [glasses]="['10mm - 12mm Toughened Glass']"
        [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_flame.png" title="CZ -07 FLAME"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 950mm']"
        [glasses]="['10mm - 12mm Toughened Glass']"
        [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_apex.png" title="CZ -08 APEX"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 1100mm']"
        [glasses]="['12mm - 14mm Toughened Glass']"
        [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_zest.png" title="CZ -09 ZEST"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 900mm']"
        [glasses]="['12mm - 14mm Thick Glass (For other glasses please revert)']"
        [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_regular_ferry.png" title="CZ -10 REGULAR FERRY"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 950mm']"
        [glasses]="['10mm - 12mm Toughened Glass']"
        [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_triangular_ferry.png" title="CZ -11 TRIANGULAR FERRY"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 950mm']"
        [glasses]="['10mm - 14mm Thick Glass']" [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_big_ferry.png" title="CZ -12 BIG FERRY"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 1000mm']"
        [glasses]="['10mm - 14mm Thick Glass']" [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_hazel.png" title="CZ -13 HAZEL"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean','Can be Concealed']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 1000mm']"
        [glasses]="['10mm - 14mm Thick Glass']" [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_uno.png" title="CZ -14 UNO"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean','Can be Concealed']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 1200mm']"
        [glasses]="['12mm - 18mm Thick Glass']" [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_raptor.png" title="CZ -15 RAPTOR"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 1200mm']"
        [glasses]="['12mm - 18mm Thick Glass']" [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_regency.png" title="CZ -16 REGENCY"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean','Pressure Plates']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 1200mm']"
        [glasses]="['12mm - 19mm Thick Glass']" [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
    <app-corinzo-railings imgPath="assets/railings_side_mounted.png" title="CZ -17 SIDE MOUNTED"
        [features]="['Rust Free','Recyclable','Low Maintenance','Complete Modular','Easy to clean']"
        [specification]="['Continues Profile','Floor Mounted','Glass Height up to 1200mm']"
        [glasses]="['12mm - 17mm Toughened Glass']"
        [finish]="['Powder Coating','Sand Blast','Anodised','Wooden Finish']" />
</div>