<div style="overflow: hidden;">
    <app-page-info pageInfo="Magnificent things are very simple."
        pageDescription="The best combination of modernity & simplicity"></app-page-info>
    <div class="description-container">
        <div class="image-container">
            <img src="assets/about-design.png" width="100%" />
        </div>
        <div class="content-container">
            <h2 class="h2">About Us</h2>
            <p class="p2">Since 2012 we have manufactured numerous types of windows and doors and as ex-window
                Installers, we understand what quality needs to look like onsite.Most of our customers are small to
                medium size glazing or building companies who need quality aluminium frames at the right price with
                excellent delivery times and friendly service. We provide the best consultancy in the selection, design,
                structure as well as type of opening of windows and doors systems. We are popular with strong
                commitment, best quality product and prompt after sales service in the market of Aluminium System
                Windows and Doors. We drive our company on European Standards and Modern Technology at every stage of
                the production process. We are highly conscious about the comfort of our clients, customers, and
                associate European market. We have an experience center to bring clients very close to the actual
                product and explain the quality of product they are going to choose for their property. Corinzo is an
                adaptable system with exceptionally slim sections, excellent performance and a high-quality finish.
                Every individual window or door is a customized product, tailored to your precise specification and
                needs, but every part of the range delivers on the Corinzo Promise.</p>
        </div>
    </div>
    <div class="summary-container">
        <h2 class="h2">Why Us</h2>
        <div class="list-container">
            <app-about-list text1="Unlimited Design Options" text2="Slim Sightlines for the Best Views"
                text3="Aluminium Windows are Strong & Secure"></app-about-list>
            <app-about-list text1="Choose the Finer Details" text2="Glass Options for Aluminium Windows"
                text3="An ideal sliding window option for big height and large dimensions of window opening"></app-about-list>
            <app-about-list text1="Aluminium is Long-Lasting"
                text2="Aluminium Windows are Energy Efficient"></app-about-list>
        </div>
    </div>
    <div class="corinzo-image-container">
        <app-corinzo-images imgPath="assets/corinzo_about_windows.png" imgText="Corinzo Windows"></app-corinzo-images>
        <app-corinzo-images imgPath="assets/corinzo_about_doors.png" imgText="Corinzo Doors"></app-corinzo-images>
        <app-corinzo-images imgPath="assets/corinzo_about_products.png" imgText="Corinzo Products"></app-corinzo-images>
    </div>
</div>