<div class="footer-container">
    <div class="footer-content">
        <div class="footer-content-col">
            <div class="footer-content-col10">
                <h1 class="h1">Let's Work</h1>
                <h1 class="h1">Together</h1>
            </div>
            <div class="footer-content-img">
                <img src="../../../assets/corinzo.svg" />
            </div>
        </div>
        <div class="footer-content-col-2">
            <p class="p1">Interior design is the art of science of enhancing the interior of a building to achieve a
                healthier and more aesthetically pleasing environment for the people using the space.</p>
            <button type="button" class="btn btn-danger">Contact Now</button>
            <div class="footer-content-2">
                <div class="footer-content-col-1">
                    <div class="footer-detail-header">
                        <p class="p2">Address</p>
                    </div>
                    <div class="footer-detail-info">
                        <p class="p3">N0 1473/1103, Ward No 13, Kishan Circle Ramu ka Bass, Sikar (Raj
                            .) 33201</p>
                    </div>
                </div>
                <div class="footer-content-col-1">
                    <div class="footer-detail-header">
                        <p class="p2">Contact Us</p>
                    </div>
                    <div class="footer-detail-info">
                        <p class="p3">+0123 57896857</p>
                        <p class="p3">+0123 57896857</p>
                        <p class="p3">info&#64;corinzo.io</p>
                    </div>
                </div>
                <div class="footer-content-col-1">
                    <div class="footer-detail-header" style="width: 100%;">
                        <p class="p2">Products</p>
                    </div>
                    <div class="footer-detail-info" style="width: 100%;">
                        <p class="p3">Corinzo Doors </p>
                        <p class="p3">Corinzo Windows</p>
                        <p class="p3">Corinzo Products</p>
                        <p class="p3">Download Brochures</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>