<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/corinzo.svg" class="d-inline-block align-text-top" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            style="background-color: aliceblue;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="#" (click)="navigateToHome()">Home</a>
                <a class="nav-link" (click)="navigateToAbout()">About</a>
                <a class="nav-link" (click)="navigateToProjects()">Projects</a>
                <a class="nav-link" (click)="navigateToRailings()">Products</a>
                <a class="nav-link" (click)="navigateToBrochures()">Brochures</a>
                <a class="nav-link" (click)="navigateToContact()">Contact Us</a>
                <button class="btn btn-sm btn-outline-secondary" id="btn1" type="submit">Get
                    Started</button>
            </div>
            <div class="navbar-nav">

            </div>
        </div>
    </div>
</nav>